* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: Dark Blue: hsl(240, 38%, 20%);
};

.main-container {
  position: relative;
  width: 90%;
  margin: 0 auto; 
  height: 80vh;
}

.bg {
  position: absolute;
  right: 5rem;
  z-index: -1;
}

.slide {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 15rem;  
  border: 2px solid blue;
  }

.test-img {
  height: 48vh;
  border-radius: 15px;
  position: absolute;
  right: 10rem;
  top: 5.5rem;
  z-index: -1;
}

.slide-text {
 width: 70%;
}

.name-job {
  display: flex;
  position: relative;
  padding-top: 2rem; 
}

#name {
 font-size: 1.5rem; 
 font-weight: 700;
}

#job {
  font-size: 1.5rem; 
  font-weight: 500;
  
}

.slide2 {
 display: none; 
}
