* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: hsl(240, 38%, 20%);
}

.main-container {
  position: relative;
  width: 90%;
  height: 75vh;
  margin: 0 auto;
  border: 1px solid blue;
}

.bg {
  position: absolute;
  right: 2rem;
  z-index: -1;
  min-height: 85vh;
}

.slide {
  padding-top: 15rem;
  border: 1px solid red;
}

.test-img {
  height: 42vh;
  border-radius: 15px;
  position: absolute;
  right: 5rem;
  top: 7.5rem;
  z-index: -1;
}

.slide-text {
  width: 45%;
  margin-left: 15rem;
}

.name-job {
  display: flex;
  position: relative;
  padding-top: 2rem;
}

#name {
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 1rem;
  color: hsl(240, 38%, 20%);
}

#job {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(240, 18%, 77%);
}

.button-container {
  position: absolute;
  right: 30%;
  bottom: 14rem;
  background: white;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  box-shadow: 0px 0px 50px 15px hsl(240, 18%, 77%);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.next {
  cursor: pointer;
  border: none;
  background: none;
}

.previous {
  cursor: pointer;
  border: none;
  background: none;
}
